/*  General */

body{
	font: 14px Arial;
}

div.pageheader-top{
	height:50px;
}

div.pageheader{
	height:40px;
	padding:10px;
	border-bottom: 1px solid #D6EAF8;
}

div.statusText{
	text-align:center;
	visibility: hidden;
}

div.statusTextShow{
	visibility:visible;
}

div.statusTextError{
	color:red;
	background-color:antiquewhite;
}

div.statusTextLoading{
	color:green;
	background-color:#D6EAF8;
}

/* Home */

div.rememberme > div{
	font: 12px Arial;
	height: 25px;
}

div.remembermeCheckBox{
	text-align: right;
}

div.remembermeTxt{
	padding: 4px 0 0 4px;
}

/* History */

div.history-table-view{
	display: none;
	margin:20px;
	font-size:12px;
}

div.historyTableViewShow{
	display: block;
}

div.history-table-view > div.row > div {
	padding: 5px;
	overflow: hidden;
}

div.history-table-view > div.row:nth-child(even) {
	background-color:#F2F4F4;
}

div.history-table-view > div.row:nth-child(odd) {
	background-color:#D6EAF8;
}

div.history-table-view > div.row:hover {
	background-color:#D5F5E3;
}

div.history-table-view div.row:first-child,  div.history-table-view div.row:first-child:hover{
	font-weight:bold;
	background-color:#85C1E9;
}

.history-table-view-detailsbutton{
	cursor: pointer;
}

div.history-table-details{
	display:none;
	position:fixed;
	z-index:2;
	height:400px;
	width:1000px;
	top:50%;
	left:50%;
	margin-left:-500px;
	margin-top:-200px;
	border:1px solid #3498DB;
	background-color:#fff;
	overflow:none;
	font-size:12px;
	font-family: Tahoma, Arial;
}

div.historyTableDetailsShow{
	display:block;
}

div.history-table-details{
	border-radius: 4px;	
}

div.history-table-details div.row {
	margin: 0;
	padding:0;
}

div.history-table-details-header {	
	font-size: 17px;
	font-weight: bold;
	background-color: #3498DB;
	padding: 5px;
	color: #fff;
}

div.history-table-details-close{
	text-align: right;
}

div.history-table-details-close:hover{
	cursor:pointer;
	color:#999;
}

div.history-dimmer{
	position : fixed;
	z-index : 1;
	top : 0;
	left : 0;
	height : 100%;
	width : 100%;
	background-color: grey;
	opacity : .5;
	display: none;
}

div.historyDimmerShow{
	display : block;
}

/* Gannet */

#adIDs{
	height: 150px;
	width: 600px;
}

#targetCS{
	height: 50px;
	width: 600px;	
}