/* */

div.pageheader-top{
	height:50px;
}

div.pageheader{
	height:40px;
	padding:10px;
	border-bottom: 1px solid #D6EAF8;
}

div.statusText{
	text-align:center;
	visibility: hidden;
}

div.statusTextShow{
	visibility:visible;
}

div.statusTextError{
	color:red;
	background-color:antiquewhite;
}

div.statusTextLoading{
	color:green;
	background-color:#D6EAF8;
}