<div class='statusText' ng-class="{statusTextLoading: $ctrl.hasMsg, statusTextShow: $ctrl.hasError || $ctrl.hasMsg, statusTextError: $ctrl.hasError}">
	<span ng-bind="$ctrl.statusMsg"></span>
</div>
<br />
<div class='history-form-view'>
	<form class='form-horizontal' ng-submit='$ctrl.submit()''>
		<div class='form-group'>
			<label for='authorization'  class='col-sm-1 control-label'>Authorization</label>
			<div class='col-sm-3'>
				<input type='text' class='form-control' id='authorization' placeholder='Authorization' ng-model='$ctrl.authorization'>
			</div>
		</div>
		<div class='form-group'>
			<label for='entitytype' class='col-sm-1 control-label'>EntityType</label>
			<div class='col-sm-3'>
				<select ng-options='entityType for entityType in $ctrl.entityConfig.EntityTypes track by entityType' ng-model='$ctrl.entityType' class='form-control' id='entitytype'></select>
			</div>
		</div>
		<div class='form-group'>
			<label for='entityid' class='col-sm-1 control-label'>EntityID</label>
			<div class='col-sm-3'>
				<input type='text' class='form-control' id='entityid' placeholder='EntityID'  ng-model='$ctrl.entityID'>
			</div>
		</div>
		<div class='form-group'>
			<div class='col-sm-offset-1 col-sm-3'>
				<button type='submit' class='btn btn-default'>Show History</button>
			 </div>
		</div>
	</form>
</div>

<div class='history-table-view' ng-class="{historyTableViewShow: $ctrl.entityHistory}">
	<div class='row'>
		<div class="col-md-1">ID</div>
		<div class="col-md-2">DateTime</div>
		<div class="col-md-3">EntityType</div>
		<div class="col-md-1">EntityID</div>
		<div class="col-md-1">Action</div>
		<div class="col-md-3">Performed By</div>
		<div class="col-md-1">More</div>
	</div>
	<div class="row" ng-repeat="log in $ctrl.entityHistory">
		<div class="col-md-1" title='{{log.id}}'>{{log.id}}</div>
		<div class="col-md-2" title='{{log.DateTime}}'>{{log.DateTime}}</div>
		<div class="col-md-3" title='{{log.typeOfEntity}}'>{{log.typeOfEntity}}</div>
		<div class="col-md-1" title='{{log.entityId}}'>{{log.entityId}}</div>
		<div class="col-md-1" title='{{log.operationType}}'>{{log.operationType}}</div>
		<div class="col-md-3" title='{{log.performedBy}}'>{{log.performedBy}}</div>
		<div class="col-md-1">
			<a class='history-table-view-detailsbutton' ng-click='$ctrl.showLogDetails(log)'>Details</a>
		</div>
	</div>

</div>

