<div class='statusText' ng-class="{statusTextLoading: $ctrl.hasMsg, statusTextShow: $ctrl.hasError || $ctrl.hasMsg, statusTextError: $ctrl.hasError}">
	<span ng-bind="$ctrl.statusMsg"></span>
</div>
<br />
<div class='history-form-view'>
	<form class='form-horizontal' ng-submit='$ctrl.submit()''>
		<div class='form-group'>
			<label for='authorization'  class='col-sm-1 control-label'>Authorization</label>
			<div class='col-sm-3'>
				<input type='text' class='form-control' id='authorization' placeholder='Authorization' ng-model='$ctrl.authorization'>
			</div>
		</div>
		<div class='form-group'>
			<label for='entitytype' class='col-sm-1 control-label'>EntityType</label>
			<div class='col-sm-3'>
				<select ng-options='entityType for entityType in $ctrl.entityConfig.EntityTypes track by entityType' ng-model='$ctrl.entityType' class='form-control' id='entitytype'></select>
			</div>
		</div>
		<div class='form-group'>
			<label for='entityid' class='col-sm-1 control-label'>EntityID</label>
			<div class='col-sm-3'>
				<input type='text' class='form-control' id='entityid' placeholder='EntityID'  ng-model='$ctrl.entityID'>
			</div>
		</div>
		<div class='form-group'>
			<div class='col-sm-offset-1 col-sm-3'>
				<button type='submit' class='btn btn-default'>Show History</button>
			 </div>
		</div>
	</form>
</div>


